/* color and font variable */

:root {
    --primary-green: #30E3CA;
    /* access using var(--primary-green)*/
    --dark-green: #10999E;
    --light-green: #E4F9F5;
    --dark-blue-green: #40514E;
    --secondary-orange: #F9A828;
    --font-default: Montserrat;
  }

/* CSS HTML elements */
body {
    font-family: var(--font-default);
    padding-top: 90px;
  }
p{
    font-family: var(--font-default);
}

label {
    font-family: var(--font-default);
    font-weight:bold;
    color: var(--dark-green);
    font-size: 24px;
  }
/* CSS IDs */
/* CSS IDs across multiple pages */

/* student_homepage CSS IDs */
/* investor_logged CSS IDs */
/* ISA_forms CSS IDs */
#form-header{
    font-family:Montserrat;
    font-weight:bold;
    color: var(--dark-green);
    font-size: 36px;
    text-align: center;
}

#form-explainer{
    font-size: 18px;
}

#button-form-save{
    margin-right: 2rem;
    background-color: var(--dark-green); 
    color: white;
}
#button-form-save:hover{
    background-color: var(--dark-blue-green); 
}
.defactivebtn{
    background-color: var(--dark-green) !important;
    color: white;
}
/* CSS classess */
/* CSS classes across multiple pages */
.navbar {
    margin-bottom: 0;
    background-image: linear-gradient(to right, var(--primary-green) ,var(--primary-green), var(--dark-green));
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: var(--font-default), sans-serif;
    padding: 10px 10px;
  }

.btn-default{
    background-color: var(--primary-green); 
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    font-family: (--font-default);
}
.btn-default:hover{
    background-color: var(--dark-green); 
    color: white;
}
.active{
    background-color: var(--dark-green); 
    color: white;
}
.btn-default:active{
    background-color: var(--dark-green); 
    color: white;
}

/* student_homepage CSS classes */
/* investor_logged CSS classes */
/* ISA_forms CSS classes */
.form-header{
    font-family:Montserrat;
    font-weight:bold;
    color: #10999E;
    font-size: 36px;
    text-align: center;
}

.form-explainer{
    font-size: 18px;
}

.form-group{
    margin-bottom: 3rem;
}
/* .univest-submit{
    overflow:hidden;
	opacity:1;
	width:200px !important;
	height:60px;
} */

  .range-wrap {
    position: relative;
    margin: 0 auto 3rem;
  } 
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 3px;  
    background: #666666;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border-radius: 50%; 
    background: var(--primary-green);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: var(--primary-green);
    cursor: pointer;
  }
