/* CSS HTML elements */
body {
    font-family: Montserrat;
  }
p{
    font-family: Montserrat;
}

  label {
    font-family:Montserrat;
    font-weight:bold;
    color: #10999E;
    font-size: 24px;
  }
/* CSS Classes */
#form-header{
    font-family:Montserrat;
    font-weight:bold;
    color: #10999E;
    font-size: 36px;
    text-align: center;
}

/* CSS IDs */

.example{
    text-align: center;
}