<!DOCTYPE html>
<html lang="en">
<head>
    <!--import Bootstrap-->
    <title>Citi ISA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-default">
        <!--container fluid used to always use full screen width-->
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Univest</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </nav>
      <!--Bootstrap grids-->
      <!--container fluid used to always use full screen width-->
      <div class="container-fluid">
        <!--one row with three columns-->
        <div class="row">
            <!--use small column settings because bootstrap automatically scales up but not down-->
            <div class="col-sm-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec sagittis magna. Donec eu lacinia nisi. Sed fermentum orci vitae lorem bibendum, tincidunt pharetra felis tincidunt. Ut posuere justo eu augue consequat faucibus. Vestibulum placerat felis dolor, sit amet porttitor tortor viverra sit amet. Proin nec purus tincidunt, venenatis tortor sed, rutrum libero. Aenean posuere, risus at porta sollicitudin, nibh nibh cursus risus, ut tincidunt velit arcu at diam. Nulla pellentesque odio id ex ultrices, at aliquam lorem malesuada. Etiam condimentum at enim eu gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur euismod sagittis justo eget convallis. Aliquam ornare sollicitudin euismod. Quisque a odio aliquam, vulputate lectus eget, imperdiet quam. Morbi id tellus ornare, mollis est vel, tincidunt nibh. Nullam ut neque ullamcorper, bibendum leo quis, bibendum lectus. 
            </div>
            <!--middle col is twice as large as outer ones-->
            <div class="col-sm-6">
                <form action="/action_page.php">
                    <div class="form-group">
                      <label for="tuition">Tuition Amount</label>
                      <input type="tuition" class="form-control" id="tuition">
                    </div>
                    <div class="form-group">
                      <label for="major">Major</label>
                      <select class="form-control" id="major" type="major">
                        <option>Select your future major</option>
                        <option>Computer science</option>
                        <option>Finance</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="college">College</label>
                        <select class="form-control" id="college" type="college">
                            <option>Select your future college</option>
                            <option>University of Florida</option>
                            <option>Carnegie Mellon</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="degree">Degree</label>
                        <select class="form-control" id="degree" type="degree">
                            <option>Select your degree type</option>
                            <option>Associate (2 yr)</option>
                            <option>Bachelor (3 yr)</option>
                            <option>Bachelor (4 yr)</option>
                            <option>Graduate (1 yr)</option>
                            <option>Graduate (2+ yr)</option>
                        </select>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form> 
            </div>      
            <div class="col-sm-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec sagittis magna. Donec eu lacinia nisi. Sed fermentum orci vitae lorem bibendum, tincidunt pharetra felis tincidunt. Ut posuere justo eu augue consequat faucibus. Vestibulum placerat felis dolor, sit amet porttitor tortor viverra sit amet. Proin nec purus tincidunt, venenatis tortor sed, rutrum libero. Aenean posuere, risus at porta sollicitudin, nibh nibh cursus risus, ut tincidunt velit arcu at diam. Nulla pellentesque odio id ex ultrices, at aliquam lorem malesuada. Etiam condimentum at enim eu gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur euismod sagittis justo eget convallis. Aliquam ornare sollicitudin euismod. Quisque a odio aliquam, vulputate lectus eget, imperdiet quam. Morbi id tellus ornare, mollis est vel, tincidunt nibh. Nullam ut neque ullamcorper, bibendum leo quis, bibendum lectus. 
            </div>
          </div>
      </div>
</body>
</html>