<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>Welcome to UNIvest</title>
        
    </head>
    <body>
        <div>
            UNIvest:
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        <table>
            <tr>
                <th>Student Information</th>
            </tr>
            <tr>
                <td>{{items}}</td>
            </tr>
            
        </table>
        
    </body>
</html>