<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>Citi ISA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--link to our custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar-homepage  navbar-fixed-top navbar-homepage">
  <div>
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button> -->
      <!-- <a class="navbar-brand" href="#myPage">Univest</a> -->
      <img id = "univest-logo" width = "98" height = "50" src = "https://s3-alpha-sig.figma.com/img/cc2a/2824/318542561382cff12d88ea8b5a445b26?Expires=1612742400&Signature=f83-JdTYhwesb3y8zWTTwim63hfke~frylGF4DsUQ3cwmzL4XmBYvW5fpr8hwFyVHhjE8j508zPVrgPZsdOIZnJl7M7qhfpK0AHuNcmrSyVfCm8afUIAl-wFOGm1zKRbSsMHUL-omKLGBf53QOM9JtVIx-P2PMcPhoFeb01x~ERpli5PtQzQpJruhwdM91zjdXOAZ5uxsltpJiqzjJK-TgguAgR3lsHcaMdO2RrP8MI5ajHmGq-CZEgnBR4SFRtctjNL63fxZF4~6WhGarSLAKHSUH2EX-pLbSUiqJtBdWZ9jZhGWQlNKSp6PoHguQEgFsqCdI2z-NAfVBThbihQeQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
      <img id = "univest-name" width = "281" height = "78"  src = "https://s3-alpha-sig.figma.com/img/70f0/95bf/2377c988ae05f61c4a266c9774e0441d?Expires=1612742400&Signature=GkAgtGMTwcFDQohv0INksUi60trNZ89Fy2IfhRWFqP-TtBQXyikO8uZ6Q-duo-HuB2WqD3H2UBZnhKsgiym-rviz7L3dczkhoSlq4vDVQiAXuSmI1eOLxn1Fn25Vz~KQwUO~F9aqQ3vM6QfQxR7-FHsG9D3gWENBaWLZ5exx7-7wkXXe8G19FCWCgs84OreFvGhbuUVelWmpoTtsElVbmJBQYlga3RIq59~6q~Oj-zbO763mWCKfq6qyWFGNWMevDpsLqG-CVg-03ALy77v55kLeknbFQ5zCdtxIZL-5RKfZQFtAvSb5CGGKkdjtTYJ4uuwhdON1i1qBOV2Lty7XNw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
      

    </div>
    <div class="text-right">
	    <button class="btn btn-default btn-lg " onclick = "location.href = '/'">For Students</button>
        <button class="btn btn-light-green btn-lg " onclick = "location.href = 'investor_landing'";>For Investors</button>
        <button class="btn btn-light-green btn-lg ">About Us</button>
    </div>
  </div>
</nav>


<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Transforming the Way</h3><br>
      <h3 style = "color:#30e3ca"> Education is Paid For<span style="font-size: larger;">.</span></h3>
      <br><button class="btn btn-default btn-lg" onclick = "location.href = 'ISA_form'">Get Started</button>
    </div>
    <div class="col-sm-6">
      <img id = "student-homepage-main-img" src = "https://s3-alpha-sig.figma.com/img/f130/fdf3/a10b26d28ca693d42e3606f96ef4a5ab?Expires=1612742400&Signature=Ib1ihtgnyG3IuPFGNm0qHtG~PSXqFiaQYUNt9HmWKSWdK-zyj0UoXKLiQzDC3iMubPaZ3NFMRyV8XGSnB1sS31Isw~dFmWJDYzvIc0pOe8UuGBjBko-ehQzs1zdpYPT9desu-y6fkqzSf-o0x6G5j9DAJV6eKTIPXovUvSytJJ7m~D1cldE0YZWEmhMGldhKQgXlLO1Ubjc2Wq0JuIcnUgLEdHPZXH49czHwRu~kRU6pqdZATJOfZAA9h6NE6hr3KZY9ky7F-~rbaGWT55uhRcfzxYLucBqiQbCpPpJ-pe~DeO3ZpBE7ftxMCfSx7ffBMbnlc5FaoNPFGxNDO73TaQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" >
    </div>
  </div>
</div>





<!-- Container (Benefits Section) -->
<div class="container-fluid">
  <div class="text-center">
    
    <h4>Benefits of Univest for Students</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img width = "135" height = "135" src="https://s3-alpha-sig.figma.com/img/8b15/87e3/c1afcd454feecab3d79bc564947ef2a8?Expires=1612742400&Signature=d-Fc3CQhsRlB9pJNGkM06S4-77uwDMkIoRg~mjdnvDFYbVRW6274Dp1-srcawsWOogLyjOgBs7DqXhAdg~F-7qfD5kqDDLSeKtg2k~6M0akiwh~esUXJCzU8dMd8AiTDit7euJnjimB6BiT6l13XmQ4KVjGdY-CZGmEbaafYCHHVKX--~AOX1F-wQ6EiO8YGSFmjA2JeJdqcL9r4rG2op-tZ52M~J~JkjFznRy23nDOlcv0k1D18H-d87PxdE68DjeBY7VSilQMVyWEFKwEFbExDIDtohOpdmkEtR7tp33D3TMaCPAmeeAQa7eW2bf0HNcDGWJnWmo1ZnHmLv26owg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
          <h2 style = "color:#30e3ca"> No job? No worries.</h2>
          <p>It’s a tough economy out there. We understand that. With Univest if you cant find a job after college you don’t pay a dime until you do. </p>
        </div>
        
      </div>      
    </div>     
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img width = "135" height = "135" src="https://s3-alpha-sig.figma.com/img/be0d/8f5a/aa521eb78a1b1bf4ebb617a414fc8d35?Expires=1612742400&Signature=Wr~OphyBZd0NErLHKcPnz4XvnM3UbCLvw-hpY43cAB9oC6rCO2ewQT~XOoV1gK-z~zuUCMiDz~SwTMajucoCgUnJRwLNfsNsn76~cnhj59J8cCOWnxoilpbGR0x7d0P8Zuht2xIPwfvU55dFy09a~LQ4XsSrtsTdOgm-qX3E77uFvwumtj73Z9RbxQtwhOKqG8IPK-RjeDXXE2nC0hcS9~4opL9UJBs-5r9MuZowuomHFTLhk6D6pJwGAFrhakgdYF8fV6sf88J91q8i~vH3PEh9I993YXkwY0sWUiFbEhWDFtH~JJ~BjtO9ebUOK7TIyzqzIMBbavFnkz440BusqA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
          <h2 style = "color:#30e3ca"> It's a deal</h2>
          <h4>Our investors make you offers. You choose the best one for you based on the percentage paid back and timeframe. </h4>
        
        </div>
        
      </div>      
    </div>       
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img width = "135" height = "135" src="https://s3-alpha-sig.figma.com/img/7500/f8f9/8cbbdb1bb938490d1c796d4063b353ed?Expires=1612742400&Signature=DU2urpsz9jzKWHfz8lowBnvNnGBbkxe3JDtdJGn0qdk4iSKfwsj5xpxqLS9GyqI9Q4L1HXLChrAuwLY-UBc6zAqxHg2GLkprHKxaM7EaMzpxXa7eypO4~F8Gk3AwcYu~eXqmnOuSiaW1ZNBquVvz8mF~jeERRznfKj4DiacdMNiO441SbfcWPpjjjYmc51wX7Wr15xC5BGp0rSlwexedlAmfLwFPo-OG3lpIuU9YSCHnIkZl7OTuB-ny8L3hP90zie85sHENe3agOs4oLCi7EUMEGYIneyhTmZv-PArGLu4OxIKyrWkivKiy4A0U34oMkpha1~J29k4NfnaxLgVZDA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
          <h2 style = "color:#30e3ca"> Rainy Day Fund</h2>
          <h4>Investors sweeten the deal by offering you a rainy day fund. That way you always have money to fall back on in an emergency. Univest students are also preaproved for a Citi credit line. </h4>
        
        </div>
        
      </div>      
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <img width = "135" height = "135" src="https://s3-alpha-sig.figma.com/img/ae26/e562/104b5f14a277e74899f20086215434ca?Expires=1612742400&Signature=gqnJCQV7dT-arQ74Lhv3cfTw4ZdBbPcGukCcbmvrL7BU9fobG~Ze2Deja4eAdsJZKjFyXIlKfFaApZHYCvdeXYbFzLE8RrxVlwxUio8D4XeaN6Pxcu8zcFy-VL98EvD-ESKBoWkgnOJng7fISB9LvJAyIkv7OvUZswfJJAgW4gNavKYJrJDlqH8~EGgQfZr5~W5uXhS24Hg4JI~0nF6VwGqDkMMq8E4zvA3lfatSkn3K9MzGqc7~os7upf7bWVt3~sp1xVguWdg9Xs4ozQbrGxBB~BQT0cnytRhuBfZB0XVOtuiU3C3MB59rZSxA6lXGngBu-XwqUrwg3qThkEax0w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
          <h2 style = "color:#30e3ca"> We look out for you</h2>
          <h4>We protect you against unfair deals. Never pay back more than 2.5x your tuition. Our minimum earnings protection means if you make less than $35k you don’t pay.   </h4>
        
          </div>
       
          
        </div>      
      </div>     
  </div>
</div>





<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
